# Laravel
/node_modules
/public/storage
/storage/*.key
/storage/framework/sessions
/vendor
!/vendor/smarch
.env

# Mac OS
.DS_Store

# PhpStorm
.idea

# Sublime Text
*.sublime-*

# App specific

# Laradock
/laradock/data
/laradock/logs