/* ==========================================================================
DataTables custom styles definitions
========================================================================== */

.table>thead>tr>th {
    vertical-align: top;
    border-bottom: 2px solid #ddd;
}

.search {
	margin: 0 auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: center;
}

div.dataTables_wrapper .search.no-export div.dataTables_filter {
    text-align: right;
}

.fullscreen div.dataTables_wrapper div.dataTables_filter,
div.dataTables_wrapper .search.no-pagination div.dataTables_filter {
    text-align: left;
}

.fullscreen div.dataTables_wrapper div.dataTables_filter input,
div.dataTables_wrapper .search.no-pagination div.dataTables_filter input {
	margin-left: 0;
}

.search .dataTables_filter input[type="search"] {
	width: 400px;
	display: inline-block;
}

.search input {
	font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #555860;
	height: 30px;
	width: 100%;
	padding: 0 12px 0 25px;
	background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 8px no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #a8acbc #babdcc #c0c3d2;
	border-radius: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	-o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
	box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
	outline: none;
	border-color: #66b1ee;
	-webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
	-moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
	-ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
	-o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
	box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

:-moz-placeholder {
	color: #a7aabc;
	font-weight: 200;
}

::-webkit-input-placeholder {
	color: #a7aabc;
	font-weight: 200;
}

.lt-ie9 .search input { line-height: 30px }